<% layout('/layouts/boilerplate') -%>

<body>
  <div class="showCont d-flex flex-column justify-content-center align-items-center">
    <h2 class="show-head mb-2">Listing Details</h2>
    <div class="card show-img">
      <img src="<%= data.image %>" class=" card-img-top" alt="listing image" />
      <div class="card-body">
        <p class="card-text">
          <p><b><%= data.title %></b></p>
          <p><%= data.description %></p>
          <p>&#8377;<%= data.price.toLocaleString("en-IN") %></p>
          <p><%= data.location %></p>
          <p><%= data.country %></p>
        </p>
      </div>
    </div> 
    <div class="showBtns d-flex justify-content-start align-items-start">
      <form method="get" action="/listings/<%= data._id %>/edit">
        <button class="btn btn-danger mx-3">Edit</button>
      </form>
      <br />
      <form method="post" action="/listings/<%= data._id %>?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  </div>
</body>
